/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set background color and text color */
  body {
    background-image: url("./begs.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* About section styles */
  .about-section {
    background-color: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    margin-bottom: 20px;
  }
  
  .about-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .about-btn:hover {
    background-color: #0056b3;
  }
  
  /* Footer styles */
  footer {
    margin-top: 300px;
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  